In [89]:
li=[100,200,150,300,180,220]

In [90]:
li

[100, 200, 150, 300, 180, 220]

In [91]:
import pandas as pd
df=pd.DataFrame(li,columns=["cost"])
df

   cost
0   100
1   200
2   150
3   300
4   180
5   220

In [92]:
#Techniques to perform feature Transformation:
#Normalization
#standardlization
#Log Transformation
#Robust Scaler
#Max Absolute Scaler

In [93]:
#normalization

In [94]:
min_cost=df.cost.min()
max_cost=df.cost.max()

In [95]:
min_cost

100

In [96]:
max_cost

300

In [97]:
df["cost_norm_formula"]=(df.cost-min_cost) /(max_cost-min_cost)

In [98]:
df.head()

   cost  cost_norm_formula
0   100               0.00
1   200               0.50
2   150               0.25
3   300               1.00
4   180               0.40

In [99]:
from sklearn.preprocessing import MinMaxScaler

In [100]:
mmx=MinMaxScaler()

In [101]:
df["cost_norm_sklearn"]=mmx.fit_transform(df[["cost"]])

In [102]:
df.head()

   cost  cost_norm_formula  cost_norm_sklearn
0   100               0.00               0.00
1   200               0.50               0.50
2   150               0.25               0.25
3   300               1.00               1.00
4   180               0.40               0.40

In [103]:
#Standardization

In [104]:
mean_cost=df.cost.mean()
std=df.cost.std()

In [105]:
df["cost_std_manual"]=(df["cost"]-mean_cost)/std

In [106]:
df.head()

   cost  cost_norm_formula  cost_norm_sklearn  cost_std_manual
0   100               0.00               0.00        -1.354992
1   200               0.50               0.50         0.123181
2   150               0.25               0.25        -0.615906
3   300               1.00               1.00         1.601354
4   180               0.40               0.40        -0.172454

In [107]:
#std2

In [108]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [109]:
df

   cost  cost_norm_formula  cost_norm_sklearn  cost_std_manual
0   100               0.00               0.00        -1.354992
1   200               0.50               0.50         0.123181
2   150               0.25               0.25        -0.615906
3   300               1.00               1.00         1.601354
4   180               0.40               0.40        -0.172454
5   220               0.60               0.60         0.418816

In [110]:
Std_dof=df.cost.std(ddof=0)

In [111]:
Std_dof

61.756691045496346

In [112]:
std_dof1=df.cost.std(ddof=1)

In [113]:
std_dof1

67.6510655249913

In [114]:
df

   cost  cost_norm_formula  cost_norm_sklearn  cost_std_manual
0   100               0.00               0.00        -1.354992
1   200               0.50               0.50         0.123181
2   150               0.25               0.25        -0.615906
3   300               1.00               1.00         1.601354
4   180               0.40               0.40        -0.172454
5   220               0.60               0.60         0.418816

In [115]:
df["cost_std_manual2"]=(df["cost"]-mean_cost) /std_dof1

In [116]:
df

,cost,cost_norm_formula,cost_norm_sklearn,cost_std_manual,cost_std_manual2
0,100,0.00,0.00,-1.354992,-1.354992
1,200,0.50,0.50,0.123181,0.123181
2,150,0.25,0.25,-0.615906,-0.615906
3,300,1.00,1.00,1.601354,1.601354
4,180,0.40,0.40,-0.172454,-0.172454
5,220,0.60,0.60,0.418816,0.418816

In [117]:
df["cost_std_manual3"]=(df["cost"]-mean_cost) /Std_dof

In [118]:
df

,cost,cost_norm_formula,cost_norm_sklearn,cost_std_manual,cost_std_manual2,cost_std_manual3
0,100,0.00,0.00,-1.354992,-1.354992,-1.484320
1,200,0.50,0.50,0.123181,0.123181,0.134938
2,150,0.25,0.25,-0.615906,-0.615906,-0.674691
3,300,1.00,1.00,1.601354,1.601354,1.754196
4,180,0.40,0.40,-0.172454,-0.172454,-0.188913
5,220,0.60,0.60,0.418816,0.418816,0.458790

In [119]:
#log Transformation

In [120]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [121]:
fc=FunctionTransformer(np.log1p)
df['cost_fc']=fc.fit_transform(df[['cost']])
df

,cost,cost_norm_formula,cost_norm_sklearn,cost_std_manual,cost_std_manual2,cost_std_manual3,cost_fc
0,100,0.00,0.00,-1.354992,-1.354992,-1.484320,4.615121
1,200,0.50,0.50,0.123181,0.123181,0.134938,5.303305
2,150,0.25,0.25,-0.615906,-0.615906,-0.674691,5.017280
3,300,1.00,1.00,1.601354,1.601354,1.754196,5.707110
4,180,0.40,0.40,-0.172454,-0.172454,-0.188913,5.198497
5,220,0.60,0.60,0.418816,0.418816,0.458790,5.398163

In [122]:
df['fc_np']=np.log1p(df[['cost']]) #another

In [123]:
df

,cost,cost_norm_formula,cost_norm_sklearn,cost_std_manual,cost_std_manual2,cost_std_manual3,cost_fc,fc_np
0,100,0.00,0.00,-1.354992,-1.354992,-1.484320,4.615121,4.615121
1,200,0.50,0.50,0.123181,0.123181,0.134938,5.303305,5.303305
2,150,0.25,0.25,-0.615906,-0.615906,-0.674691,5.017280,5.017280
3,300,1.00,1.00,1.601354,1.601354,1.754196,5.707110,5.707110
4,180,0.40,0.40,-0.172454,-0.172454,-0.188913,5.198497,5.198497
5,220,0.60,0.60,0.418816,0.418816,0.458790,5.398163,5.398163

In [124]:
#robust scler

In [125]:
from sklearn.preprocessing import RobustScaler
X = [[ 1., -2.,  2.],
     [ -2.,  1.,  3.],
     [ 4.,  1., -2.]]
transformer = RobustScaler().fit(X)
transformer
RobustScaler()
transformer.transform(X)

array([[ 0. , -2. ,  0. ],
       [-1. ,  0. ,  0.4],
       [ 1. ,  0. , -1.6]])

In [126]:
#MAax abs Scaler

In [127]:
from sklearn.preprocessing import MaxAbsScaler

In [128]:
mmx=MaxAbsScaler()

In [129]:
df["mmx_abs"]=mmx.fit_transform(df[['cost']])

In [130]:
df

,cost,cost_norm_formula,cost_norm_sklearn,cost_std_manual,cost_std_manual2,cost_std_manual3,cost_fc,fc_np,mmx_abs
0,100,0.00,0.00,-1.354992,-1.354992,-1.484320,4.615121,4.615121,0.333333
1,200,0.50,0.50,0.123181,0.123181,0.134938,5.303305,5.303305,0.666667
2,150,0.25,0.25,-0.615906,-0.615906,-0.674691,5.017280,5.017280,0.500000
3,300,1.00,1.00,1.601354,1.601354,1.754196,5.707110,5.707110,1.000000
4,180,0.40,0.40,-0.172454,-0.172454,-0.188913,5.198497,5.198497,0.600000
5,220,0.60,0.60,0.418816,0.418816,0.458790,5.398163,5.398163,0.733333

In [131]:
#power Transformer(box Cox)

In [132]:
from scipy.stats import boxcox
df['box cox'],_=boxcox(df["cost"]+1)

In [133]:
df

,cost,cost_norm_formula,cost_norm_sklearn,cost_std_manual,cost_std_manual2,cost_std_manual3,cost_fc,fc_np,mmx_abs,box cox
0,100,0.00,0.00,-1.354992,-1.354992,-1.484320,4.615121,4.615121,0.333333,16.402632
1,200,0.50,0.50,0.123181,0.123181,0.134938,5.303305,5.303305,0.666667,23.451536
2,150,0.25,0.25,-0.615906,-0.615906,-0.674691,5.017280,5.017280,0.500000,20.244079
3,300,1.00,1.00,1.601354,1.601354,1.754196,5.707110,5.707110,1.000000,28.777463
4,180,0.40,0.40,-0.172454,-0.172454,-0.188913,5.198497,5.198497,0.600000,22.226083
5,220,0.60,0.60,0.418816,0.418816,0.458790,5.398163,5.398163,0.733333,24.613707

In [136]:
df.cost_std_manual.mean()

1.2027416100105862e-16

In [137]:
df.cost_std_manual.mean()+1

1.0000000000000002

In [138]:
df.cost_std_manual2.std()

1.0